<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01_HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>02_HelloGUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>03_Sprites.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>04_StaticScene.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>05_AnimatingScene.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>06_SkeletalAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>07_Billboards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>08_Decals.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>09_MultipleViewports.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>10_RenderToTexture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>11_Physics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>12_PhysicsStressTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>13_Ragdolls.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>14_SoundEffects.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>15_Navigation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>16_Chat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>17_SceneReplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>18_CharacterDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>19_VehicleDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>20_HugeObjectCount.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>21_AngelScriptIntegration.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>23_Water.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>24_Urho2DSprite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>25_Urho2DParticle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>26_ConsoleInput.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>27_Urho2DPhysics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>28_Urho2DPhysicsRope.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>29_SoundSynthesis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>30_LightAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>31_MaterialAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>32_Urho2DConstraints.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>33_Urho2DSpriterAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>34_DynamicGeometry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>88</integer>
		</dict>
		<key>35_SignedDistanceFieldText.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>36_Urho2DTileMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>37_UIDrag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AngelScript.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Box2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Bullet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Civetweb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Detour.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>FreeType.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>JO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>LZ4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>PugiXml.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>RESOURCE_CHECK_01_HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>RESOURCE_CHECK_02_HelloGUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>RESOURCE_CHECK_03_Sprites.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>RESOURCE_CHECK_04_StaticScene.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>RESOURCE_CHECK_05_AnimatingScene.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>RESOURCE_CHECK_06_SkeletalAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>RESOURCE_CHECK_07_Billboards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>RESOURCE_CHECK_08_Decals.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>RESOURCE_CHECK_09_MultipleViewports.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>RESOURCE_CHECK_10_RenderToTexture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>RESOURCE_CHECK_11_Physics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>RESOURCE_CHECK_12_PhysicsStressTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>RESOURCE_CHECK_13_Ragdolls.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>RESOURCE_CHECK_14_SoundEffects.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>RESOURCE_CHECK_15_Navigation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>RESOURCE_CHECK_16_Chat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>RESOURCE_CHECK_17_SceneReplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>RESOURCE_CHECK_18_CharacterDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>RESOURCE_CHECK_19_VehicleDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>RESOURCE_CHECK_20_HugeObjectCount.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>RESOURCE_CHECK_21_AngelScriptIntegration.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>RESOURCE_CHECK_23_Water.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>RESOURCE_CHECK_24_Urho2DSprite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>RESOURCE_CHECK_25_Urho2DParticle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>RESOURCE_CHECK_26_ConsoleInput.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>RESOURCE_CHECK_27_Urho2DPhysics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>RESOURCE_CHECK_28_Urho2DPhysicsRope.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>RESOURCE_CHECK_29_SoundSynthesis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>RESOURCE_CHECK_30_LightAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>RESOURCE_CHECK_31_MaterialAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>RESOURCE_CHECK_32_Urho2DConstraints.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>RESOURCE_CHECK_33_Urho2DSpriterAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>RESOURCE_CHECK_34_DynamicGeometry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
		<key>RESOURCE_CHECK_35_SignedDistanceFieldText.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>RESOURCE_CHECK_36_Urho2DTileMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>RESOURCE_CHECK_37_UIDrag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>RESOURCE_CHECK_Urho3DPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Recast.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>SDL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>STB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>StanHull.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Urho3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Urho3DPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Urho3D_universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>kNet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>package.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01A2559A81B34755A6C18A6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05391A2DB4D44BBEB2AC9572</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08E1BC701A79419697996731</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10DCDC96A8EB45CDBA4873F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11D0832842BB4013B0B23029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15035F45B65145AFB4B926BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>175D2449F9624A6EB4018623</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D09DAEC063E4E849DB21821</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22107F4FB1644A738ED093BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22BB0946E5994C78920FF014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28B52359682942B08343303F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AC267AECA2A474E80FDCAFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C04C947C9A34D4CAD3330B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31AB0BDEA0394D1E928FCA59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3507EE64661644EE87D565B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3689656D7F2A486B9E6D0172</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3759CDAFEA45467485FE6B7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4027F863F2FC47D0AFEE5541</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>425D16E1F7BF4C95A086D9F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42C2E53302964066A81B20DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43A921A41C6646859B0C9C1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AE13693096B4564B1F0E938</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DCF8399D67F43D484BB4BB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5833CC84D983457B89B21DBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B109B5422F04B6A8BD6F90E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CAAEFA969134AC2B8795F6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>659F730E879F47AEBDE32EC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B348C0E8A5E47048F0D2BF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C76EF3DD1FD49468A7E5365</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CE7C85C413642CBB0E711F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DE2D5559A2D4C42878843C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7124F10F461F43F9AA7C0AD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78532F768E9746EAA77F0A2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>798D6DA097C9408B91170739</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EE3218011A64706B41BE8A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80475B00F0794DA2AF304657</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80DC7B8A67B740D391669F7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>833E82E0A9B848E7A57EAE43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>838805B1F0014EFC8EFD6732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86B26FFF341C4F55B26F243D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B9E1715FE024A6B8F00D8DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C1ACC09B85A4642A1145001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DAE522392B14FCF92B05A79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E476AA9CE6E4BB48CC22057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F7716E2C622464C9F311FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9242604DEF1448F284B5CCD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>946D4DE46C374BC98DB5A6B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97574E983D3D4CD19C04F0DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98F9968C50ED4B2DB17872A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EEB23129DED41B9A798E4E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0CDD84EFBE24DB59FD044F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A23389C62077417097EFBE86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A90A5A9AD99E4422B04F04A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A91A51E5271D4D82BD7DD7DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A989F6BA868C457C87F22AB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA6F98BD223C48429FC4FEAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC935F1C1D2D41C88B4127AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEAA6F21D5554B0A95CC322E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEEB9F2727F548A3AB7BB495</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B078C86587A542D5B100FCCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B47F4ECCFE524A729E8D7851</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B97DE41F996A4E65AFD458E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC9C83689CFC48769155C8FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD9485111734A6AA3E23975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C848F24568F14316993BFEE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C94D44B49F764104B1D1FE3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9B4F86D62F9457FA881ED87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA3E111BFC7D4AE298D1FE54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF2A878E5D2D4D71904907F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D16ADE40DB91470A880ED442</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D272FCD4425B4E2D91889DD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D547368A90F54EB0BF069C3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7B02A0DCA5D45CC91AE6D67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD7FD28FC3B544358D9ED4C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF53B4BB79E647938027FE2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFCFB79E2E564AC69833BC27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0D284DDA80D4198B8BB3E40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E206031EDB964E799008287C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3A6171C0A9245AAB50F3007</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3BABFFD6D2D4ECBBDB39A0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5D63EBC997C4E43A9F31A9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6A51E1FC5AF41BCB424DC06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E72BB5A5E9F74D20A6DDCAB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E74122B0A4A045E9ABD4829C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7F4E56DBDF042B7A34E4E52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE288D0EF15C4BD2AEA91679</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F587BA2B797D4DCF940B056F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8DC58815DF24FE7AA84F747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F90B481F6AA74217A974E568</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA076D4E102E4013B7861F94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBC86D29406F4D459762BB0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD9801838AB64B38B2570A86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE8BD61D80D9475EB1BB2D6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF4AA3FCD2144EDFBF41670C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
